* {
    font-family: "Poppins", arial;
}

p {
    color: #8692a6;
}

form {
    font-size: 13px;
}

form .btnRegis {
    width: 100%;
    font-size: small;
}

#exampleInputName1 {
    font-size: 13px;
    height: 3rem;
}

#exampleInputEmail1 {
    font-size: 13px;
    height: 3rem;
}

#exampleInputPassword1 {
    font-size: 13px;
    height: 3rem;
}

.head p {
    font-size: small;
}

.head img {
    width: 80px;
}

#button-addon2 img {
    width: 24px;
}

.have p {
    font-size: x-small;
}

.forgot p {
    font-size: x-small;
}

.pageMain {
    width: 50%;
}

.modal-content {
    background-color: #fff;
    border: none;
    text-align: center;
    padding: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    color: #ffc107;
    font-size: 24px;
}

.modal-footer {
    border-top: none;
    text-align: center;
}

.btnYes {
    width: 20rem;
}

.btnCancel {
    width: 20rem;
    background-color: #e7e7e7;
    border: none;
}

.form-check-input:checked {
    background-color: #ffc107 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25) !important;
    border: 1px solid white !important;
}

.form-control:focus {
    border-color: #ffc107 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25) !important;
}

.form-control:focus .btnSvg {
    border-color: #ffc107 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25) !important;
}

.password-strength-bar {
    width: 0;
    height: 10px;
    margin-top: 5px;
    transition: all 0.3s;
}

.password-strength-bar {
    width: 100%;
    height: 4px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.password-strength-bar-inner {
    height: 100%;
    transition: width 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.start .password-strength-bar-inner {
    width: 0%;
    background-color: white;
    box-shadow: 0px 2px 5px white;
}

.weak .password-strength-bar-inner {
    width: 30%;
    background-color: #dc3545;
    box-shadow: 0px 2px 5px #dc3545;
}

.medium .password-strength-bar-inner {
    width: 60%;
    background-color: #f0cc2b;
    box-shadow: 0px 2px 5px #f0cc2b;
}

.strong .password-strength-bar-inner {
    width: 100%;
    background-color: #198754;
    box-shadow: 0px 5px 5px #198754;
}

@media (max-width: 992px) {
    .pageMain {
        width: 50rem;
        margin-top: 10rem;
    }
}

@media (max-width: 768px) {
    .pageMain {
        margin-top: 1rem;
    }
}
